params {
    novel_splice_site = false
    minimum_intron_length = null
    max_exon_length = null
}

//--fixed-event-set
//--individual-counts

process {

    withName: RMATS_PREP {
        ext.args = {[
            params.novel_splice_site ? "--novelSS" : "",
            (params.novel_splice_site  && params.minimum_intron_length) ? "--mil ${params.minimum_intron_length}" : "",
            (params.novel_splice_site  && params.max_exon_length) ? "--mel ${params.max_exon_length}" : "",
        ].join(' ').trim()}
    }

}
